name: 'Publish'

on:
  merge_group:
  push:
    branches:
    - gh-readonly-queue/**

jobs:
  publish-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Call Dagger Function
        uses: dagger/dagger-for-github@v5
        with:
          version: "0.10.3"
          verb: call
          args: publish --source . --password env:GITHUB_TOKEN --tag ${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
